* {
    box-sizing: border-box;
    font-family: Playfair Display;
    font-size: flex;
}

body {
    display: grid;
    overflow: hidden;
    margin: 0px;
    grid-template-columns: 33vw 34vw 33vw;
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas:
    "top top top"
    "primary primary primary"
    "bottom bottom bottom";
    height: 100vh;
    background-color: #001c51;
    color: white;
}
footer, nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border: dotted 1px black;
}

main nav {
    color:#fb6640;
    background-color: white;
}

main {
    grid-area: primary;
    overflow-y: scroll;
    z-index: 1000;
}


footer {
    grid-area: bottom;
}

header {
    grid-area: top;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: dotted 1px black;
    color: white;
    text-transform: uppercase;
} 

header a {
    color:white;
    text-decoration: none;
}

.headerleft {
    width: 33vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headercenter {
    grid-area: topcenter;
    width: 34vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerright {
    grid-area: topright;
    width: 33vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.main-home img {
    background-size:cover;
}

footer {
    justify-content: left;
    align-items:flex-end;
    background-color: #001c51;
    z-index: 19999;
}


.headerleft {
    width: 33vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#map {
    background-color: white;
    display: inline-block;
    position: absolute; 
    height: 100%;
    width: 100%;
    overflow:hidden;
}
#featured-content {
    height: 90vh;
    width: 100vw;
}

/* All Content CSS */


.main-allcontent {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: calc(100vh - 10vh);
    grid-template-areas:
       "gallery";
    height: 100vh;
    background: white;
}

#featured-allcontent{
    grid-area: gallery;
    
}

.interview-card-one {
    position: relative;
}
.interview-card-two {
    position: relative;
}
.interview-card-three {
    position: relative;
}
.interview-card-four {
    position: relative;
}
.interview-card-five {
    position: relative;
}
.interview-card-six {
    position: relative;
}
.interview-card-seven {
    position: relative;
}
.interview-card-eight {
    position: relative;
}
.interview-card-nine {
    position: relative;
}
.interview-card-ten {
    position: relative;
}
.interview-card-eleven {
    position: relative;
}
.interview-card-twelve {
    position: relative;
}
.interview-card-thirteen {
    position: relative;
}
.interview-card-fourteen {
    position: relative;
}
.interview-card-fifteen {
    position: relative;
}
.interview-card-sixteen {
    position: relative;
}
.interview-card-seventeen {
    position: relative;
}
.interview-card-eighteen {
    position: relative;
}

.cards {
    padding-top: 2vh;
    display:flex;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
}

.card > div {
    width: 23%;
    margin: 10px;
    border: solid 1px #fb6640;
    padding: 10px;
    border-radius: 5px;
    background-color: #001c51;
}


.card iframe {
    background-size: cover;
    width: 100%;
    height: 250px;
    z-index: 300
}

.caption {
    margin-top: 15px;
    margin-bottom: 30px;
    text-size-adjust: cover;
    color: white;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.footer {
    position:bottom;
}

/* splash page CSS */
.splash {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 20000;
}

.splash.display-none {
    position: fixed;
    opacity:0;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    transition: all 0.5s;
}

/* aboutus CSS */
#featured-aboutus{
    background-color: white;
    height: 100%;
    padding: 10vw;
}
.aboutus {
    color: black;
    position:top;
    /* justify-content: center; */
    /* align-items: center; */
    display:block;
    line-height: 1.5;
}

#featured-aboutus h1 {
    color:#001c51;
    font-size: 3em;
    margin-block-end: 0;
    margin-block-start: 0;
}

.aboutus p{
    margin-block-start: 0;
}

.contactus h1{
    padding-top:2vh;
}

.contactus{
    position: relative;
}

.contactus input {
    width: 100%;
    height: 4vh;
    justify-content: center;
    padding: 6px 10px 6px 36px;
    border-color: #fb6640;
}
.fa-envelope {
    position: fixed;
    color: #001c51;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 1.3em;
    font-variant: normal;
    text-rendering: auto;
    padding: 6px 10px 6px 6px; 
}

/* Individual Video Page */

/* .individual-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: calc(100vh - 10vh);
    grid-template-areas:
       "gallery";
    height: 100vh;
    background: white;
    color: grey;
} */

#individual-featured-content{
    /* grid-area: gallery; */
    background-color: white;
    height: 100vh;
    width: 100vw;
}



.individual-video {
    position: relative;
    width: 100vw;
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#individual-featured-content iframe{
    display: block;
    margin: auto;
    padding-top: 3vh;
    background-size: cover;
    border: 0;
    height: 55vh;
    left: 0;
    position: relative;
    top: 0;
    width: 60vw;
    z-index:10000;
}



.individual-caption {
    /* position: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    padding-top: 5vh;
    color: #001c51;
    font-size: 2.03em;
}

.individual-description {
    justify-content: center;
    padding-top: 2vh;
    color: grey;
    padding-left: 25vw;
    padding-right: 25vw;
}

/* .interview-card-one .individual-link { 
    display:inline-block;
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    background-image: url('empty.gif');
    overflow: hidden;
    } */
.interview-card-one > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.interview-card-two > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.interview-card-three > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.interview-card-four > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-five > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-six > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-seven > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-eight > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-nine > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-ten > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-eleven > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-twelve > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-thirteen > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-fourteen > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-fifteen > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-sixteen > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-seventeen > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.interview-card-eighteen > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 100000; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

  